<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
        <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
        <!-- Rights-->
        <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
      </div>
    </div>
    <div class="col-md-4">
      <h5>Contacts</h5>
      <dl class="contact-list">
        <dt>Address:</dt>
        <dd>798 South Park Avenue, Jaipur, Raj</dd>
      </dl>
      <dl class="contact-list">
        <dt>email:</dt>
        <dd><a href="mailto:#">dkstudioin@gmail.com</a></dd>
      </dl>
      <dl class="contact-list">
        <dt>phones:</dt>
        <dd><a href="tel:#">+91 7568543012</a> <span>or</span> <a href="tel:#">+91 9571195353</a>
        </dd>
      </dl>
    </div>
    <div class="col-md-4 col-xl-3">
      <h5>Links</h5>
      <ul class="nav-list">
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contacts</a></li>
        <li><a href="#">Pricing</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row no-gutters social-container">
  <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span class="fa fa-facebook-square">&nbsp;</span></a></div>
  <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span class="fa fa-instagram">&nbsp;</span></a></div>
  <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span class="fa fa-twitter">&nbsp;</span></a></div>
  <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span class="fa fa-google">&nbsp;</span></a></div>
</div>
</footer>	