#imgSlider img{
	height: 350px;
}
#imgSliderContainer img{
	width: 100%;
}
.carousel-indicators li{
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.fa-chevron-circle-right,.fa-chevron-circle-left{
	font-size: 30px;
}