<!-- carousel section starts here -->
<section class="container-fluid p-0" id="imgSlider">
  <section class="row mb-5">
    <div class="col-md-12">
      <!-- <img src="../images/apjsir.jpeg" alt="Abdul Kalam Sir" class="w-100"> -->
      <div id="imgSliderContainer" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#imgSliderContainer" data-slide-to="0" class="active"></li>
          <li data-target="#imgSliderContainer" data-slide-to="1"></li>
          <li data-target="#imgSliderContainer" data-slide-to="2"></li>
        </ul>
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/images/banners/banner1.jpg" alt="Banner 1">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/banners/banner2.jpg" alt="Banner 2">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/banners/banner3.jpg" alt="Banner 3">
          </div>
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#imgSliderContainer" data-slide="prev">
          <!-- <span class="carousel-control-prev-icon"></span> -->
          <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        </a>
        <a class="carousel-control-next" href="#imgSliderContainer" data-slide="next">
          <!-- <span class="carousel-control-next-icon"></span> -->
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </section>
</section>
<!-- Carousel section ends here -->
