<section class="container">
  <section class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item active">Active item</li>
        <li class="list-group-item">Second item</li>
        <li class="list-group-item">Third item</li>
      </ul>
    </div>
    <div class="col-md-6">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">UI Development</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu1">Web Development</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu2">Mobile Development</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane container active" id="home">
          <h3>UI Development</h3>
        </div>
        <div class="tab-pane container fade" id="menu1">
          <h3>Web Development</h3>
        </div>
        <div class="tab-pane container fade" id="menu2">
          <h3>Mobile Development</h3>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form_main">
        <h4 class="heading"><strong>Quick </strong> Contact <span></span></h4>
        <div class="form">
          <form action="contact_send_mail.php" method="post" id="contactFrm" name="contactFrm">
            <input type="text" required="" placeholder="Please input your Name" value="" name="name" class="txt">
            <input type="text" required="" placeholder="Please input your mobile No" value="" name="mob" class="txt">
            <input type="text" required="" placeholder="Please input your Email" value="" name="email" class="txt">
            
            <textarea placeholder="Your Message" name="mess" type="text" class="txt_3"></textarea>
            <button type="submit" name="submit" class="txt2"><span class="fa fa-share">&nbsp;</span></button>
          </form>
        </div>
      </div>
    </div>
  </section>
</section>